<div id="content1" class="w3-container" style="padding-top:50px;">
    <a type="button" class="btn btn-success pull-right" id="btnAdd" data-ui-sref="admin.mentions.create">
        <span class="glyphicon glyphicon-plus"></span> 登録
    </a>
    <div id="myTop" class="w3-container w3-top w3-theme w3-large">
    </div>
    <div>
        <strong style="font-size:20px;">特記様式管理</strong><br/>
    </div>
    <div style="font-weight:bold; padding-top:10px;">一覧</div>

    <hr>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="bg-primary" style="width:400px;">名称</th>
                    <th class="bg-primary" style="width:100px">最終更新日</th>
                    <th class="bg-primary" style="width:100px;">操作<div ng-show="vm.busy" class="show-busy"></div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="mention in vm.mentions">
                    <td style="text-align:left;" data-ng-bind="mention.name"></td>
                    <td style="text-align:center;" data-ng-bind="mention.created | date:'yyyy/MM/dd'"></td>
                    <td style="text-align:center;">
                        <button class="btn btn-info btn-sm" data-ui-sref="admin.mentions.edit({mentionId: mention._id})">
                        <i class="glyphicon glyphicon-pencil"></i> 編集</button>
                        <button class="btn btn-warning btn-sm"  ng-click="vm.copy(mention)">
                        <i class="glyphicon glyphicon-copyright-mark"></i> コピー</button>
                        <button class="btn btn-danger btn-sm" ng-click="vm.remove(mention)">
                        <i class="glyphicon glyphicon-trash"></i> 削除</button>
                        
                    </td>
                </tr>
                <tr data-ng-if="vm.mentions.$resolved && !vm.mentions.length">
                    <td colspan="2">No mentions yet, why don't you <a data-ui-sref="admin.mentions.create">create one</a>?</td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <div style="width:100%; text-align:center;">
        <hr>
        <ul uib-pagination
            total-items="vm.totalItems"
            items-per-page="vm.pageSize"
            previous-text="前"
            next-text="次"
            ng-model="vm.currentPage" ng-click="vm.pageChanged()"></ul>
    </div>
</div>
