<a class="w3-bar-item w3-button w3-border-bottom w3-large" ui-sref="home">
<img src="/modules/core/client/img/brand/logo.png" style="width:80%;"></a>
<a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()"><i class="fa fa-remove"></i></a>
<a class="w3-bar-item w3-button" href="../property/index.html">物件データ管理</a>
<a class="w3-bar-item w3-button" data-ui-sref="admin.laws.list">法令管理</a>
<a class="w3-bar-item w3-button w3-teal" data-ui-sref="admin.docs.list">ドキュメント管理</a>
<a class="w3-bar-item w3-button" href="../account/index.html">アカウント管理</a>
<a class="w3-bar-item w3-button" href="/" style="color:red">ログアウト</a>

