<section>
  <div class="page-header">
    <h1>Laws</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="law in vm.laws" ui-sref="laws.view({ lawId: law._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="law.created | date:'mediumDate'"></span>
        by
        <span ng-if="law.user" ng-bind="law.user.displayName"></span>
        <span ng-if="!law.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="law.title"></h4>
      <p class="list-group-item-text" ng-bind="law.sort"></p>
    </a>
  </div>
</section>
