<form name="vm.form.docForm" ng-submit="vm.save(vm.form.docForm.$valid)" novalidate>
    <div id="content2" class="w3-container" style="padding-top:50px;">
            
        <div id="myTop" class="w3-container w3-top w3-theme w3-large">
            <span id="myIntro" class="w3-hide">物件データ管理</span>
        </div>
        <div>
            <strong style="font-size:20px;">物件データ管理</strong><br/>
        </div>
        <button type="submit" class="btn btn-primary pull-right" id="btn_save_add">
            <span class="glyphicon glyphicon-floppy-save"></span> 保存
        </button>
        <a data-ui-sref="admin.properties.edit({propertyId: vm.propertyId})" class="mg15r btn btn-warning pull-right">
            キャンセル
        </a>
        <div style="font-weight:bold; padding-top:10px;">
            <a data-ui-sref="admin.properties.list">一覧 </a> > <a data-ui-sref="admin.properties.edit({propertyId: vm.propertyId})">物件登録</a> > 第七号様式
            <span ng-if="vm.busyLoad" class="fa fa-spinner fa-spin"></span>
        </div>

        <hr>
        <!-- #コントロールボタン -->
        <button type="button" ng-click="vm.download()" class="btn btn-primary btn-sm" style="margin-bottom:20px;"><i class="glyphicon glyphicon-save"></i> ダウンロード</button>
        <!-- #コントロールボタン -->
        <!-- 入力Form -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">チェックシート一覧</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <button>計算</button> -->
                                <div ng-if="vm.listTable1.length > 0">
                                    <span style="font-weight:bold;">（共通事項）</span>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary" colspan="5">（い）</th>
                                                <th class="bg-primary" colspan="2">（ろ）</th>
                                                <th class="bg-primary" rowspan="2">最終チェック<br>項目</th>
                                            </tr>
                                            <tr>
                                                <th class="bg-primary" colspan="4">検査箇所</th>
                                                <th class="bg-primary">検査事項</th>
                                                <th class="bg-primary" colspan="2">目視検査</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in vm.listTable1">
                                                <td ng-if="row.rsp_item1 > 0" rowspan="{{ row.rsp_item1 }}" colspan="4">{{ row.item1 }}</td>
                                                <td ng-if="row.rsp_item1 == 0" colspan="4">{{ row.item1 }}</td>

                                                <td>{{ row.legal_text }}</td>
                                                <td colspan="2" style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_ro1' checklist-value="row.id"/>
                                                </td>
                                                <td style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_item' checklist-value="row.id"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="vm.listTable2.length > 0">
                                    <span style="font-weight:bold;">（木造の場合）</span>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary" colspan="5">（い）</th>
                                                <th class="bg-primary" colspan="2">（ろ）</th>
                                                <th class="bg-primary" rowspan="2">最終チェック<br>項目</th>
                                            </tr>
                                            <tr>
                                                <th class="bg-primary" colspan="4">検査箇所</th>
                                                <th class="bg-primary">検査事項</th>
                                                <th class="bg-primary">目視<br>検査</th>
                                                <th class="bg-primary">監理<br>報告</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in vm.listTable2">
                                                <td ng-if="row.rsp_item1 > 0" rowspan="{{ row.rsp_item1 }}" colspan="3">{{ row.item1 }}</td>
                                                <td ng-if="row.rsp_item1 == 0" colspan="3">{{ row.item1 }}</td>
                                                <td ng-if="row.rsp_item4 > 0" rowspan="{{ row.rsp_item4 }}">{{ row.item4 }}</td>
                                                <td ng-if="row.rsp_item4 == 0">{{ row.item4 }}</td>
                                                <td >{{ row.legal_text }}</td>
                                                <td style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_ro1' checklist-value="row.id"/>
                                                </td>
                                                <td ng-if="row.rsp_ck_ro1 > 0" rowspan="{{ row.rsp_ck_ro1 }}" style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_ro2' checklist-value="row.id"/>
                                                </td>
                                                <td style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_item' checklist-value="row.id"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="vm.listTable3.length > 0">
                                    <span style="font-weight:bold;">（鉄骨造の場合）</span>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary" colspan="5">（い）</th>
                                                <th class="bg-primary" colspan="2">（ろ）</th>
                                                <th class="bg-primary" rowspan="2">最終チェック<br>項目</th>
                                            </tr>
                                            <tr>
                                                <th class="bg-primary" colspan="4">検査箇所</th>
                                                <th class="bg-primary">検査事項</th>
                                                <th class="bg-primary">目視<br>検査</th>
                                                <th class="bg-primary">監理<br>報告</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in vm.listTable3">
                                                <td ng-if="row.rsp_item1 > 0" rowspan="{{ row.rsp_item1 }}">{{ row.item1 }}</td>
                                                <td ng-if="row.rsp_item1 == 0">{{ row.item1 }}</td>

                                                <td ng-if="row.rsp_item2 > 0 && row.item3" rowspan="{{ row.rsp_item2 }}">{{ row.item2 }}</td>
                                                <td ng-if="row.rsp_item2 == 0 && row.item3">{{ row.item2 }}</td>

                                                <td ng-if="row.rsp_item2 > 0 && !row.item3" rowspan="{{ row.rsp_item2 }}" colspan="2">{{ row.item2 }}</td>
                                                <td ng-if="row.rsp_item2 == 0 && !row.item3" colspan="2">{{ row.item2 }}</td>

                                                <td ng-if="row.rsp_item3 > 0" rowspan="{{ row.rsp_item3 }}">{{ row.item3 }}</td>
                                                <td ng-if="row.rsp_item3 == 0 && row.item3">{{ row.item3 }}</td>

                                                <td ng-if="row.rsp_item4 > 0" rowspan="{{ row.rsp_item4 }}">{{ row.item4 }}</td>
                                                <td ng-if="row.rsp_item4 == 0">{{ row.item4 }}</td>
                                                <td >{{ row.legal_text }}</td>
                                                <td style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_ro1' checklist-value="row.id"/>
                                                </td>
                                                <td ng-if="row.rsp_ck_ro1 > 0" rowspan="{{ row.rsp_ck_ro1 }}" style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_ro2' checklist-value="row.id"/>
                                                </td>
                                                <td style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_item' checklist-value="row.id"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="vm.listTable4.length > 0">
                                    <span style="font-weight:bold;">（鉄筋コンクリート造の場合）</span>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary" colspan="5">（い）</th>
                                                <th class="bg-primary" colspan="2">（ろ）</th>
                                                <th class="bg-primary" rowspan="2">最終チェック<br>項目</th>
                                            </tr>
                                            <tr>
                                                <th class="bg-primary" colspan="4">検査箇所</th>
                                                <th class="bg-primary">検査事項</th>
                                                <th class="bg-primary">目視<br>検査</th>
                                                <th class="bg-primary">監理<br>報告</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in vm.listTable4">
                                                <td ng-if="row.rsp_item1 > 0" rowspan="{{ row.rsp_item1 }}">{{ row.item1 }}</td>
                                                <td ng-if="row.rsp_item1 == 0">{{ row.item1 }}</td>

                                                <td ng-if="row.rsp_item2 > 0" rowspan="{{ row.rsp_item2 }}" colspan="2">{{ row.item2 }}</td>
                                                <td ng-if="row.rsp_item2 == 0" colspan="2">{{ row.item2 }}</td>

                                                <td ng-if="row.rsp_item4 > 0" rowspan="{{ row.rsp_item4 }}">{{ row.item4 }}</td>
                                                <td ng-if="row.rsp_item4 == 0">{{ row.item4 }}</td>
                                                <td >{{ row.legal_text }}</td>
                                                <td style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_ro1' checklist-value="row.id"/>
                                                </td>
                                                <td ng-if="row.rsp_ck_ro1 > 0" rowspan="{{ row.rsp_ck_ro1 }}" style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_ro2' checklist-value="row.id"/>
                                                </td>
                                                <td style="text-align:center;">
                                                    <input type='checkbox' checklist-model='vm.property.doc.form7_item' checklist-value="row.id"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-include="'/modules/properties/client/views/admin/doc-form-7-export.client.view.html'" class="col-sm-12" 
                                id="tableToExport" style="display: none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #入力Form -->
    </div>
</form>