<form name="vm.form.docForm" ng-submit="vm.save(vm.form.docForm.$valid)" novalidate>
    <div id="content2" class="w3-container" style="padding-top:10px;">
            
        <div id="myTop" class="w3-container w3-top w3-theme w3-large">
            <span id="myIntro" class="w3-hide">物件データ管理</span>
        </div>
        <div>
            <strong style="font-size:20px;">物件データ管理</strong><br/>
        </div>
        <button type="submit" class="btn btn-primary pull-right" id="btn_save_add">
            <span class="glyphicon glyphicon-floppy-save"></span> 保存
        </button>
        <a data-ui-sref="admin.properties.edit({propertyId: vm.propertyId})" class="mg15r btn btn-warning pull-right">
            キャンセル
        </a>
        <div style="font-weight:bold; padding-top:10px;">
            <a data-ui-sref="admin.properties.list">一覧 </a> > <a data-ui-sref="admin.properties.edit({propertyId: vm.propertyId})">物件登録</a> > 第四号様式
            <span ng-if="vm.busyLoad" class="fa fa-spinner fa-spin"></span>
        </div>

        <hr>
        <!-- #コントロールボタン -->
        <button type="button" ng-click="vm.download()" class="btn btn-primary btn-sm" style="margin-bottom:20px;"><i class="glyphicon glyphicon-save"></i> ダウンロード</button>
        <!-- #コントロールボタン -->
        <!-- 入力Form -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">チェックシート一覧</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <button>計算</button> -->
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="bg-primary" colspan="3">（い）</th>
                                            <th class="bg-primary" rowspan="3">(ろ)</th>
                                            <th class="bg-primary" colspan="2">（は）</th>
                                            <th class="bg-primary" rowspan="3">最終チェック<br>項目</th>
                                        </tr>
                                        <tr>
                                            <th class="bg-primary" colspan="2" rowspan="2">条項</th>
                                            <th class="bg-primary" rowspan="2">見出し</th>
                                            <th class="bg-primary" rowspan="2">目視<br>検査</th>
                                            <th class="bg-primary" rowspan="2">動作<br>確認</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in vm.listMasterCheckSheetForm4">
                                            <!-- process rowspan and colspan of item1 & item2 条項 -->
                                            <td ng-if="row.rowspan > 0" rowspan="{{ row.rowspan }}">{{ row.item1 }}</td>
                                            <td ng-if="row.rowspan > 0">{{ row.item2 }}</td>
                                            <td ng-if="row.rowspan === 0 && !row.item2" colspan="2">{{ row.item1 }}</td>
                                            <td ng-if="row.rowspan === 0 && row.item2">{{ row.item1 }}</td>
                                            <td ng-if="row.rowspan === 0 && row.item2">{{ row.item2 }}</td>
                                            <td ng-if="row.rowspan < 0">{{ row.item2 }}</td>
                                            <!-- legal_text -->
                                            <td>{{ row.legal_text }}</td>
                                            <!-- checkbox form4_ha （ろ） -->
                                            <td style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_ro | contains:row.id)}">
                                                <input ng-show="row.ck_ro > 0" type='checkbox' checklist-model='vm.property.doc.form4_ro' ng-click="vm.checkParent(row.id, checked)" checklist-value="row.id"/>
                                            </td>

                                            <!-- process rowspan of checkbox form4_ha1 （は） -->
                                            <td ng-if="row.rowspan_ck_ha1 > 0" rowspan="{{ row.rowspan_ck_ha1 }}" style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_ha1 | contains:row.id)}">
                                                <input type='checkbox' checklist-model='vm.property.doc.form4_ha1' checklist-value="row.id"/></td>
                                            <td ng-if="row.rowspan_ck_ha1 === 0" style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_ha1 | contains:row.id)}">
                                                <input type='checkbox' checklist-model='vm.property.doc.form4_ha1' checklist-value="row.id"/></td>
                                            <!-- process rowspan of checkbox form4_ha2（は） -->
                                            
                                            <td ng-if="row.rowspan_ck_ha2 > 0" rowspan="{{ row.rowspan_ck_ha2 }}" style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_ha2 | contains:row.id)}">
                                                <input ng-show="row.ck_ha2 > 0" type='checkbox' checklist-model='vm.property.doc.form4_ha2' checklist-value="row.id"/></td>
                                            <td ng-if="row.rowspan_ck_ha2 === 0" style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_ha2 | contains:row.id)}">
                                                <input ng-show="row.ck_ha2 > 0" type='checkbox' checklist-model='vm.property.doc.form4_ha2' checklist-value="row.id"/></td>
                                            <td style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_item | contains:row.id)}">
                                                <input type='checkbox' checklist-model='vm.property.doc.form4_item' checklist-value="row.id"/>
                                            </td>
                                        </tr>
                                        <tr><td colspan="7"></td></tr>
                                        <tr>
                                            <td colspan="3">工事監理の状況</td>
                                            <td colspan="3" style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_ro | contains:146)}">
                                                <input type='checkbox' checklist-model='vm.property.doc.form4_ro' checklist-value="146"/>
                                            </td>
                                            <td style="text-align:center;" ng-class="{'checked': (vm.property.doc.form4_item | contains:146)}">
                                                <input type='checkbox' checklist-model='vm.property.doc.form4_item' checklist-value="146"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-include="'/modules/properties/client/views/admin/doc-form-4-export.client.view.html'" ng-if="vm.listMasterCheckSheetForm4" class="col-sm-12" 
                                id="tableToExport" style="display: none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #入力Form -->
    </div>
</form>