<style>
    .bg-primary { background-color:#286090; color: white }
</style>
<div>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <td></td>
        <td></td>
        <td colspan="4" style="font-size: 20px; font-weight: bold">建築主　：	{{ vm.property.men15 }}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td colspan="4" style="font-size: 20px; font-weight: bold">第　 {{ vm.property.men17 }}　　号</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td colspan="4"></td>
    </tr>
</table>
<!-- <button>計算</button> -->
<table border="1" class="table table-striped table-bordered table-hover" style="font-family: ＭＳ 明朝;">
    <thead>
        <tr>
            <th class="bg-primary" colspan="3" style="text-align:center;">（い）</th>
            <th class="bg-primary" rowspan="2" style="text-align:center;">（ろ）</th>
            <th class="bg-primary" rowspan="2" style="text-align:center;">（は）</th>
            <th class="bg-primary" rowspan="2" width="120px" style="text-align:center;">最終チェック<br>項目</th>
        </tr>
        <tr>
            <th class="bg-primary" colspan="2" style="text-align:center;">条項</th>
            <th class="bg-primary" style="text-align:center;">見出し</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="lawData in vm.listMasterLaw" >
            <!-- process rowspan and colspan of item1 & item2 条項 -->
            <td ng-if="lawData.rowspan > 0" rowspan="{{ lawData.rowspan }}">{{ lawData.item1 }}</td>
            <td ng-if="lawData.rowspan > 0">{{ lawData.item2 }}</td>
            <td ng-if="lawData.rowspan === 0 && !lawData.item2" colspan="2">{{ lawData.item1 }}</td>
            <td ng-if="lawData.rowspan === 0 && lawData.item2">{{ lawData.item1 }}</td>
            <td ng-if="lawData.rowspan === 0 && lawData.item2">{{ lawData.item2 }}</td>
            <td ng-if="lawData.rowspan < 0">{{ lawData.item2 }}</td>
            <!-- legal_text -->
            <td>{{ lawData.legal_text }}</td>
            <!-- checkbox form1_ha （ろ） -->
            <td style="text-align:center;">
                <span ng-if="vm.property.doc.form1_ro | contains:lawData.id">☑</span>
                <span ng-if="!(vm.property.doc.form1_ro | contains:lawData.id)">□</span>
            </td>                                                                          

            <!-- process rowspan of checkbox form1_ha （は） -->
            <td ng-if="lawData.rowspan_ck_ha > 0" rowspan="{{ lawData.rowspan_ck_ha }}" style="text-align:center;">
                <span ng-if="vm.property.doc.form1_ha | contains:lawData.id">☑</span>
                <span ng-if="!(vm.property.doc.form1_ha | contains:lawData.id)">□</span>
            </td>
            <td ng-if="lawData.rowspan_ck_ha === 0" style="text-align:center;">
                <span ng-if="vm.property.doc.form1_ha | contains:lawData.id">☑</span>
                <span ng-if="!(vm.property.doc.form1_ha | contains:lawData.id)">□</span>
            </td>
            
            <!-- process rowspan of checkbox item  最終チェック 項目-->
            <td style="text-align:center;">
                <div ng-if="lawData.total_ck_item > 1" ng-repeat="n in range(1, lawData.total_ck_item)" ng-init="itemValue = lawData.id+ '_' + n">
                    <span ng-if="vm.property.doc.form1_item | contains:itemValue">☑</span>
                    <span ng-if="!(vm.property.doc.form1_item | contains:itemValue)">□</span>
                </div>
                <div ng-if="!lawData.total_ck_item || lawData.total_ck_item <= 1">
                    <span ng-if="vm.property.doc.form1_item | contains:lawData.id">☑</span>
                    <span ng-if="!(vm.property.doc.form1_item | contains:lawData.id)">□</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- table comment -->
<table border="1" class="footer-table" style="border: 1px solid black; text-align: left;">
    <tr><td colspan="6" style="border: none">検査箇所</td></tr>
    <tr><td colspan="6" style="border: none"> </td></tr>
    <tr><td colspan="6" style="border: none"> </td></tr>
    <tr><td colspan="6" style="border: none"> </td></tr>
    <tr><td colspan="6" style="border: none"> </td></tr>
</table>
<!-- end table comment -->
<table border=0 cellpadding=0 cellspacing=0 width=1139 style='border-collapse:
 collapse;table-layout:fixed;width:855pt'>
 <tr height=20>
  <td colspan=6 class=xl7030323 width=1110 style='width:833pt'>１．この様式による書類は、（い）欄に掲げる建築基準関係規定が、確認審査を行った建築物に適用されない場合は、当該規定に係る部分を省略した様式により作成することがで</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl6930323 width=1110 style='width:833pt'>　　　きます。</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl7030323 width=1110 style='width:833pt'>２．確認審査を行った建築物について（い）欄に掲げる建築基準関係規定の適合がないときは、（ろ）欄に斜線を入れてください。</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl7030323 width=1110 style='width:833pt'>３．（い）欄に掲げる建築基準関係規定が適用される建築物について、当該規定に係る図書ごとに、建築基準関係規定に適合していることを確かめたときは、（は）欄のチェック</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl6930323 width=1110 style='width:833pt'>　　　ボックスに「レ」マークを入れてください。</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl7030323 width=1110 style='width:833pt'>４．確認審査を行った建築物が法第39条第２項、法第40条、法第43条第２項、法第43条の２、法第49条から法第50条まで、法第68条の２第１項若しくは法第68条の９第１項の規定</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl6930323 width=1110 style='width:833pt'>　　　に基づく条例（これらの規定に基づく条例の規定を法第87条第２項又は第３項において準用する場合を含む。）、法第68条の９第２項の規定に基づく条例又は令第９条に掲げる</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl6930323 width=1110 style='width:833pt'>　　　法律の規定に基づく条例の規定の適用を受ける場合は、当該条例の名称及び適用を受ける規定を備考欄に記載し、又は別紙に記載して添えてください。</td>
  <td class=xl1530323></td>
 </tr>
 <tr height=20>
  <td colspan=6 class=xl7030323 width=1110 style='width:833pt'>５．（は）欄の記載では書き表せない事項で特に報告すべき事項は、備考欄に記載し、又は別紙に記載して添えてください。</td>
  <td class=xl1530323></td>
 </tr>
</table>
</div>