<form name="vm.form.mentionForm" ng-submit="vm.saveMention(vm.form.mentionForm.$valid)" novalidate>
    <div id="content2" class="w3-container" style="padding-top:50px;">
            
        <div id="myTop" class="w3-container w3-top w3-theme w3-large">
            <span id="myIntro" class="w3-hide">物件データ管理</span>
        </div>
        <div>
            <strong style="font-size:20px;">物件データ管理</strong><br/>
        </div>
        <button type="submit" class="btn btn-primary pull-right" id="btn_save_add">
            <span class="glyphicon glyphicon-floppy-save"></span> 保存
        </button>
        <a data-ui-sref="admin.properties.edit({propertyId: vm.propertyId})" class="mg15r btn btn-warning pull-right">
            キャンセル
        </a>
        <div style="font-weight:bold; padding-top:10px;">
            <a data-ui-sref="admin.properties.list">一覧 </a> > <a data-ui-sref="admin.properties.edit({propertyId: vm.propertyId})">物件登録</a> > 特記様式
            <span ng-if="vm.busyLoad" class="fa fa-spinner fa-spin"></span>
        </div>

        <hr>
        <!-- #コントロールボタン -->
        <button type="button" ng-click="vm.download()" class="btn btn-primary btn-sm" style="margin-bottom:20px;"><i class="glyphicon glyphicon-save"></i> ダウンロード</button>
        <!-- #コントロールボタン -->
        <!-- 入力Form -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary" style="display: block">
                    <div class="panel-heading">特記様式登録</div>
                    <!-- not tdfk -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <a type="button" class="btn btn-success pull-left mg15b" id="add_btn" ng-click="vm.pushMention()">
                                    <span class="glyphicon glyphicon-plus"></span> 追加</a>
                            </div>
                        </div>
                        <div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="bg-primary" colspan="2" style="text-align:center;">（い）</th>
                                        <th class="bg-primary" rowspan="2" style="text-align:center;">（ろ）</th>
                                        <th class="bg-primary" rowspan="2" style="text-align:center;">（は）</th>
                                        <th class="bg-primary" rowspan="2" width="120px" style="text-align:center;">最終チェック<br>項目</th>
                                        <th class="bg-primary" rowspan="2" width="50px" style="text-align:center;">操作</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-primary" style="text-align:center;">条項</th>
                                        <th class="bg-primary" style="text-align:center;">見出し</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.doc.mentions track by $index">
                                        <!-- process rowspan and colspan of item1 & item2 条項 -->
                                        <td><input type="text" class="form-control" ng-model="vm.doc.mentions[$index].clause"/></td>
                                        <!-- legal_text -->
                                        <td><input type="text" class="form-control" ng-model="vm.doc.mentions[$index].headline"/></td>
                                        <!-- checkbox form1_ha （ろ） -->
                                        <td style="text-align:center;">
                                            <input type='checkbox' ng-model='vm.doc.mentions[$index].time1_check'/>
                                        </td>
                                        <!-- process rowspan of checkbox form1_ha （は） -->
                                        <td style="text-align:center;">
                                            <input type='checkbox' ng-model='vm.doc.mentions[$index].time2_check'/>
                                        </td>
                                        <!-- process rowspan of checkbox item  最終チェック 項目-->
                                        <td style="text-align:center;">
                                            <input type='checkbox' ng-model='vm.doc.mentions[$index].final_check'/>
                                        </td>
                                        <td style="text-align:center;">
                                            <button type="button" ng-click="vm.removeMention(item)" class="btn btn-danger btn-sm">
                                                <i class="glyphicon glyphicon-trash"></i> 削除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end not tdfk -->
                    <!-- tdfk -->
                    <div class="panel-body" ng-if="vm.isTdfk">
                        <span style="font-weight:bold;">条例（東京都）</span>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="bg-primary" colspan="3" style="text-align:center;">（い）</th>
                                    <th class="bg-primary" rowspan="2" style="text-align:center;">（ろ）</th>
                                    <th class="bg-primary" rowspan="2" style="text-align:center;">（は）</th>
                                    <th class="bg-primary" rowspan="2" width="120px" style="text-align:center;">最終チェック<br>項目</th>
                                </tr>
                                <tr>
                                    <th class="bg-primary" colspan="2" style="text-align:center;">条項</th>
                                    <th class="bg-primary" style="text-align:center;">見出し</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lawData in vm.listMasterLaw">
                                    <!-- process rowspan and colspan of item1 & item2 条項 -->
                                    <td ng-if="lawData.rowspan > 0" rowspan="{{ lawData.rowspan }}">{{ lawData.item1 }}</td>
                                    <td ng-if="lawData.rowspan > 0">{{ lawData.item2 }}</td>
                                    <td ng-if="lawData.rowspan === 0 && !lawData.item2" colspan="2">{{ lawData.item1 }}</td>
                                    <td ng-if="lawData.rowspan === 0 && lawData.item2">{{ lawData.item1 }}</td>
                                    <td ng-if="lawData.rowspan === 0 && lawData.item2">{{ lawData.item2 }}</td>
                                    <td ng-if="lawData.rowspan < 0">{{ lawData.item2 }}</td>
                                    <!-- legal_text -->
                                    <td>{{ lawData.legal_text }}</td>
                                    <!-- checkbox formMen_ro （ろ） -->
                                    <td style="text-align:center;">
                                        <input type='checkbox' checklist-model='vm.doc.formMen_ro' checklist-value="lawData.id"/>
                                    </td>
                                    <!-- process rowspan of checkbox formMen_ha （は） -->
                                    <td style="text-align:center;">
                                        <input type='checkbox' checklist-model='vm.doc.formMen_ha' checklist-value="lawData.id"/>
                                    </td>
                                    <!-- process rowspan of checkbox formMen_item  最終チェック 項目-->
                                    <td style="text-align:center;">
                                        <input type='checkbox' checklist-model='vm.doc.formMen_item' checklist-value="lawData.id">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end tdfk -->
                </div>
            </div>
            <div ng-include="'/modules/properties/client/views/admin/doc-form-mention-export.client.view.html'" class="col-sm-12" 
                id="tableToExport" style="display: none"></div>
        </div>
        <!-- #入力Form -->
    </div>
</form>