<!-- 第四面 -->
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <span class="title_label">建築物別概要</span>
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">1.番　号</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="men4_1" ng-model="vm.property.men4_1">
                </div>
            </div>
            <!-- 【2.用　途】 -->
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">2.用　途</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="input-group form-inline panel">
                        <span class="input-group-addon">分類</span>
                        <select class="form-control" name="men4_2_c1_1" ng-model="vm.property.men4_2.c1.class" 
                        ng-change="vm.selectParent4_2('c1')"
                        ng-options="o.name as o.name for o in vm.data_men4_2.c1.class" data-width="fit">
                            <option ng-selected="true" value=""></option>
                        </select>

                        <span class="input-group-addon">区分</span>
                        <select class="form-control" name="men4_2_c1_2" ng-model="vm.property.men4_2.c1.division"
                        ng-options="o as o for o in vm.data_men4_2.c1.division" data-width="fit">
                            <option ng-selected="true" value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="men4_2_c1_3" ng-model="vm.property.men4_2.c1.text">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label"></label>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="input-group form-inline panel">
                        <span class="input-group-addon">分類</span>
                        <select class="form-control" name="men4_2_c2_1" ng-model="vm.property.men4_2.c2.class" 
                        ng-change="vm.selectParent4_2('c2')"
                        ng-options="o.name as o.name for o in vm.data_men4_2.c2.class" data-width="fit">
                            <option ng-selected="true" value=""></option>
                        </select>

                        <span class="input-group-addon">区分</span>
                        <select class="form-control" name="men4_2_c2_2" ng-model="vm.property.men4_2.c2.division"
                        ng-options="o as o for o in vm.data_men4_2.c2.division" data-width="fit">
                            <option ng-selected="true" value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="men4_2_c2_3" ng-model="vm.property.men4_2.c2.text">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <div class="input-group form-inline panel">
                        <span class="input-group-addon">分類</span>
                        <select class="form-control" name="men4_2_c3_1" ng-model="vm.property.men4_2.c3.class" 
                        ng-change="vm.selectParent4_2('c3')"
                        ng-options="o.name as o.name for o in vm.data_men4_2.c3.class" data-width="fit">
                            <option ng-selected="true" value=""></option>
                        </select>

                        <span class="input-group-addon">区分</span>
                        <select class="form-control" name="men4_2_c3_2" ng-model="vm.property.men4_2.c3.division"
                        ng-options="o as o for o in vm.data_men4_2.c3.division" data-width="fit">
                            <option ng-selected="true" value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="men4_2_c3_3" ng-model="vm.property.men4_2.c3.text">
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <!-- end【2.用　途】 -->
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">3.工事種別</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="row" ng-repeat="ck in vm.data_men4_3">
                        <label class="checkbox-inline">
                            <input type="checkbox" checklist-model="vm.property.men4_3" checklist-value="ck">
                            {{ ck }}&nbsp;
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">4.構　　造</label>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                    <select class="form-control" name="men4_4_c1" ng-model="vm.property.men4_4.c1"
                    ng-options="o as o for o in vm.data_men4_4" data-width="fit">
                        <option ng-selected="true" value=""></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="input-group form-inline panel">
                        <span class="input-group-addon">一部</span>
                        <select class="form-control" name="men4_4_c2" ng-model="vm.property.men4_4.c2"
                    ng-options="o as o for o in vm.data_men4_4" data-width="fit">
                        <option ng-selected="true" value=""></option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">5.耐火建築物等</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="row" ng-repeat="ck in vm.data_men4_5">
                        <label class="checkbox-inline">
                            <input type="checkbox" checklist-model="vm.property.men4_5" checklist-value="ck">
                            {{ ck }}&nbsp;
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">6.階　　数</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <label class="sub_title_label">ｲ.地階を除く階数</label>
                    <input type="number" class="form-control" name="men4_6_1" ng-model="vm.property.men4_6_1">
                    <label class="sub_title_label">ﾛ.地階の階数</label>
                    <input type="number" class="form-control" name="men4_6_2" ng-model="vm.property.men4_6_2">
                    <label class="sub_title_label">ﾊ.昇降機塔等の階の数</label>
                    <input type="number" class="form-control" name="men4_6_3" ng-model="vm.property.men4_6_3">
                    <label class="sub_title_label">ﾆ.地階の倉庫等の階の数</label>
                    <input type="number" class="form-control" name="men4_6_4" ng-model="vm.property.men4_6_4">
                </div>
                <div class="col-sm-7"></div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">7.高　　さ</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <label class="sub_title_label">ｲ.最高の高さ</label>
                    <input type="text" class="form-control" name="men4_7_1" ng-model="vm.property.men4_7_1">
                    <label class="sub_title_label">ﾛ.最高の軒の高さ</label>
                    <input type="text" class="form-control" name="men4_7_2" ng-model="vm.property.men4_7_2">
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">8.建築設備の種類</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <select class="form-control" name="men4_2_1_2" ng-model="vm.property.men4_8"
                        ng-options="o as o for o in vm.data_men4_8" data-width="fit">
                        <option ng-selected="true" value=""></option></select>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">9.確認の特例</label>
                
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-12">
                            <label class="sub_title_label">
                                    ｲ.建築基準法第６条の３第１項ただし書又は法１８条第４項ただし書の規定による審査の特例の適用の有無
                            </label>
                            <br/>
                            <label class="checkbox-inline">
                                <input type="radio" name="men4_9_1" ng-model="vm.property.men4_9_1" value="有"> 有
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="men4_9_1" ng-model="vm.property.men4_9_1" value="無"> 無
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label class="sub_title_label">
                                ﾛ.建築基準法第６条の４第１項の規定による確認の特例の適用の有無
                            </label>
                            <br/>
                            <label class="checkbox-inline">
                                <input type="radio" name="men4_9_2" ng-model="vm.property.men4_9_2" value="有"> 有
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="men4_9_2" ng-model="vm.property.men4_9_2" value="無"> 無
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label class="sub_title_label">
                                    ﾊ.建築基準法施行令第１０条各号に掲げる建築物の区分
                            </label>
                            <br/>
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon">第</span>
                                <input type="number" class="form-control" name="men4_9_3" ng-model="vm.property.men4_9_3"/>
                                <span class="input-group-addon add-on flat">号</span> 
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="sub_title_label">
                                ﾆ.認定型式の認定番号
                            </label>
                            <br/>
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon">第</span>
                                <input type="number" class="form-control" name="men4_9_4" ng-model="vm.property.men4_9_4"/>
                                <span class="input-group-addon add-on flat">号</span> 
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="sub_title_label">
                                ﾎ.適合する一連の規定の区分
                            </label>
                            <br/>
                            <div class="col-sm-12">
                                <div class="row" ng-repeat="ck in vm.data_men4_9_5">
                                    <label class="checkbox-inline mg15l">
                                        <input type="checkbox" checklist-model="vm.property.men4_9_5" checklist-value="ck">
                                        {{ ck }}&nbsp;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="sub_title_label">
                                ﾍ.認証型式部材等認証番号
                            </label>
                            <br/>
                            <input type="number" class="form-control" name="men4_9_6" ng-model="vm.property.men4_9_6"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">10.床 面 積</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2">階種別</div>
                        <div class="col-sm-2">
                            <select class="selectpicker form-control" name="men4_10_14"
                             ng-options="o.id as o.name for o in vm.data_men4_10" ng-model="vm.property.men4_10_14">
                             <option ng-selected="true" value=""></option></select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <!-- header -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            (申請部分)
                        </div>
                        <div class="col-sm-2">
                            (申請以外の部分)
                        </div>
                        <div class="col-sm-2">
                            (合計)
                        </div>
                    </div>
                    <!-- header end-->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label">ｲ.階 別</label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_5_1" ng-model="vm.property.men4_10_5.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_5_2" ng-model="vm.property.men4_10_5.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_5_3" ng-model="vm.property.men4_10_5.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_5_4" ng-model="vm.property.men4_10_5.c4"  readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.2 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_6_1" ng-model="vm.property.men4_10_6.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_6_2" ng-model="vm.property.men4_10_6.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_6_3" ng-model="vm.property.men4_10_6.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_6_4" ng-model="vm.property.men4_10_6.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.2 end-->
                    <!-- No.3 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_7_1" ng-model="vm.property.men4_10_7.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_7_2" ng-model="vm.property.men4_10_7.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_7_3" ng-model="vm.property.men4_10_7.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_7_4" ng-model="vm.property.men4_10_7.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.3 end-->
                    <!-- No.4 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_8_1" ng-model="vm.property.men4_10_8.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_8_2" ng-model="vm.property.men4_10_8.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_8_3" ng-model="vm.property.men4_10_8.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_8_4" ng-model="vm.property.men4_10_8.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.4 end-->
                    <!-- No.5 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_9_1" ng-model="vm.property.men4_10_9.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_9_2" ng-model="vm.property.men4_10_9.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_9_3" ng-model="vm.property.men4_10_9.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_9_4" ng-model="vm.property.men4_10_9.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.5 end-->
                    <!-- No.6 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_10_1" ng-model="vm.property.men4_10_10.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_10_2" ng-model="vm.property.men4_10_10.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_10_3" ng-model="vm.property.men4_10_10.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_10_4" ng-model="vm.property.men4_10_10.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.6 end-->
                    <!-- No.7 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_11_1" ng-model="vm.property.men4_10_11.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_11_2" ng-model="vm.property.men4_10_11.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_11_3" ng-model="vm.property.men4_10_11.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_11_4" ng-model="vm.property.men4_10_11.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.7 end-->
                    <!-- No.8 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_12_1" ng-model="vm.property.men4_10_12.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_12_2" ng-model="vm.property.men4_10_12.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_12_3" ng-model="vm.property.men4_10_12.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_12_4" ng-model="vm.property.men4_10_12.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.8 end-->
                    <!-- No.9 -->
                    <div class="row txt_yaku">
                        <label for="txtTodo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_13_1" ng-model="vm.property.men4_10_13.c1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_13_2" ng-model="vm.property.men4_10_13.c2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_13_3" ng-model="vm.property.men4_10_13.c3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_13_4" ng-model="vm.property.men4_10_13.c4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- No.9 end-->
                    <!-- goukei -->
                    <div class="row txt_yaku">
                        <hr>
                        <label for="txtTodo" class="col-sm-2 col-form-label">ﾛ.合 計</label>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon add-on flat">{{ vm.property.men4_10_14 }}</span>
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_1" ng-model="vm.property.men4_10_1" readonly/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_2" ng-model="vm.property.men4_10_2" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_3" ng-model="vm.property.men4_10_3" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei_4_10()" name="men4_10_4" ng-model="vm.property.men4_10_4" readonly/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <!-- goukei end -->
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">11.屋　　根</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="men4_11" ng-model="vm.property.men4_11">
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">12.外　　壁</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="men4_12" ng-model="vm.property.men4_12">
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">13.軒　　裏</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="men4_13" ng-model="vm.property.men4_13">
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">14.居室の床の高さ</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="men4_14" ng-model="vm.property.men4_14">
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">15.便所の種類</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="row" ng-repeat="ck in vm.data_men4_15">
                        <label class="checkbox-inline" >
                            <input type="checkbox" ng-change="vm.checkboxSelectParent(ck, checked, vm.property.men4_15)" checklist-model="vm.property.men4_15" checklist-value="ck.name">
                            {{ ck.name }}&nbsp;
                        </label>
                        <div class="row mg20l" ng-if="ck.child" class="row" ng-repeat="ckc in ck.child">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-change="vm.checkboxSelectChild(ck, ckc, checked, vm.property.men4_15)" checklist-model="vm.property.men4_15" checklist-value="ckc.name" ng-disabled="!(vm.property.men4_15 | contains:ck.name)">
                                {{ ckc.name }}&nbsp;
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">16.その他必要な事項</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <textarea class="form-control" name="men4_16" ng-model="vm.property.men4_16"></textarea>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">17.備　　考</label>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <textarea class="form-control" name="men4_17" ng-model="vm.property.men4_17"></textarea>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end 第四面 -->