<!-- 第三面 -->
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="title_label">建築物及びその敷地に関する事項</label>
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">1.地名地番</label>
            </div>
            <div class="col-sm-1"></div>
            <div class="input-group form-inline panel col-sm-10">
                <span class="input-group-addon">地域</span>
                <select class="selectpicker form-control" name="men3_1_1" ng-model="vm.property.men3_1_1">
                　　<optgroup label="都道府県">
                    <option>北海道</option>
                    <option>青森県</option>
                    <option>岩手県</option>
                    <option>宮城県</option>
                    <option>秋田県</option>
                    <option>山形県</option>
                    <option>福島県</option>
                    <option>茨城県</option>
                    <option>栃木県</option>
                    <option>群馬県</option>
                    <option>埼玉県</option>
                    <option>千葉県</option>
                    <option>東京都</option>
                    <option>神奈川県</option>
                    <option>新潟県</option>
                    <option>富山県</option>
                    <option>石川県</option>
                    <option>福井県</option>
                    <option>山梨県</option>
                    <option>長野県</option>
                    <option>岐阜県</option>
                    <option>静岡県</option>
                    <option>愛知県</option>
                    <option>三重県</option>
                    <option>滋賀県</option>
                    <option>京都府</option>
                    <option>大阪府</option>
                    <option>兵庫県</option>
                    <option>奈良県</option>
                    <option>和歌山県</option>
                    <option>鳥取県</option>
                    <option>島根県</option>
                    <option>岡山県</option>
                    <option>広島県</option>
                    <option>山口県</option>
                    <option>徳島県</option>
                    <option>香川県</option>
                    <option>愛媛県</option>
                    <option>高知県</option>
                    <option>福岡県</option>
                    <option>佐賀県</option>
                    <option>長崎県</option>
                    <option>熊本県</option>
                    <option>大分県</option>
                    <option>宮崎県</option>
                    <option>鹿児島県</option>
                    <option>沖縄県</option>
                    
                </select>
                <span class="input-group-addon">住所</span>
                <input type="text" class="form-control" name="men3_1_2" ng-model="vm.property.men3_1_2"/>
            </div>
            <hr>

            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">2.住居表示</label>
            </div>
            <div class="col-sm-1"></div>
            <div class="input-group form-inline panel col-sm-10">
                <span class="input-group-addon">地域</span>
                <select class="selectpicker form-control" name="men3_2_1" ng-model="vm.property.men3_2_1">
                　　<optgroup label="都道府県">
                    <option>北海道</option>
                    <option>青森県</option>
                    <option>岩手県</option>
                    <option>宮城県</option>
                    <option>秋田県</option>
                    <option>山形県</option>
                    <option>福島県</option>
                    <option>茨城県</option>
                    <option>栃木県</option>
                    <option>群馬県</option>
                    <option>埼玉県</option>
                    <option>千葉県</option>
                    <option>東京都</option>
                    <option>神奈川県</option>
                    <option>新潟県</option>
                    <option>富山県</option>
                    <option>石川県</option>
                    <option>福井県</option>
                    <option>山梨県</option>
                    <option>長野県</option>
                    <option>岐阜県</option>
                    <option>静岡県</option>
                    <option>愛知県</option>
                    <option>三重県</option>
                    <option>滋賀県</option>
                    <option>京都府</option>
                    <option>大阪府</option>
                    <option>兵庫県</option>
                    <option>奈良県</option>
                    <option>和歌山県</option>
                    <option>鳥取県</option>
                    <option>島根県</option>
                    <option>岡山県</option>
                    <option>広島県</option>
                    <option>山口県</option>
                    <option>徳島県</option>
                    <option>香川県</option>
                    <option>愛媛県</option>
                    <option>高知県</option>
                    <option>福岡県</option>
                    <option>佐賀県</option>
                    <option>長崎県</option>
                    <option>熊本県</option>
                    <option>大分県</option>
                    <option>宮崎県</option>
                    <option>鹿児島県</option>
                    <option>沖縄県</option>
                </optgroup>
                </select>
                <span class="input-group-addon">住所</span>
                <input type="text" class="form-control" name="men3_2_2" ng-model="vm.property.men3_2_2"/>
            </div>
            <hr>

            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col title_label">3.都市計画区域及び準都市計画区域の内外の別等</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <div class="row" ng-repeat="ck in vm.data_men3_3">
                        <label class="checkbox-inline" >
                            <input type="checkbox" checklist-model="vm.property.men3_3" checklist-value="ck.name">
                            {{ ck.name }}&nbsp;
                        </label>
                        <div class="row mg20l" ng-if="ck.child" class="row" ng-repeat="ckc in ck.child">
                            <label class="checkbox-inline">
                                <input type="checkbox" checklist-model="vm.property.men3_3" checklist-value="ckc.name">
                                {{ ckc.name }}&nbsp;
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col title_label">4.防火地域</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <label class="checkbox-inline" ng-repeat="ck in vm.data_men3_4">
                        <input type="checkbox" checklist-model="vm.property.men3_4" checklist-value="ck">{{ ck }}&nbsp;
                    </label>
                </div>
            </div>
            <hr>

            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">5.その他の区域、地域、地区又は街区</label>
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="men3_5" ng-model="vm.property.men3_5">
                </div>
            </div>
            <hr>

            <div class="form-group row">
                <label for="txtTodo" class="col-sm-2 col-form-label title_label">6.天井</label>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11">
                            <span class="sub_title_label">ｲ.幅員</span>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="men3_6_1" ng-model="vm.property.men3_6_1"/>
                        </div>
                        <div class="col-sm-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11">
                            <span class="sub_title_label">ﾛ.敷地と接している部分の長さ</span>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="men3_6_2" ng-model="vm.property.men3_6_2"/>
                        </div>
                        <div class="col-sm-5">
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">7.敷地面積</label>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                    <span class="sub_title_label">ｲ.敷地面積</span>
                </div>
                <div class="col-sm-12">
                    
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1" style="text-align:left;">
                        (1)
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_1" ng-model="vm.property.men3_7_1_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_2" ng-model="vm.property.men3_7_1_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_3" ng-model="vm.property.men3_7_1_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_4" ng-model="vm.property.men3_7_1_4"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1" style="text-align:left;">
                        (2)
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_5" ng-model="vm.property.men3_7_1_5"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_6" ng-model="vm.property.men3_7_1_6"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_7" ng-model="vm.property.men3_7_1_7"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.plusFor3_7_5()" name="men3_7_1_8" ng-model="vm.property.men3_7_1_8"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾛ.用途地域等
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-2">
                            <select ng-model="vm.property.men3_7_2_1" class="form-control" 
                                ng-options="o as o for o in vm.data_men3_7_2" data-width="fit"></select>
                        </div>
                        <div class="col-sm-2">
                            <select ng-model="vm.property.men3_7_2_2" class="form-control" 
                                ng-options="o as o for o in vm.data_men3_7_2" data-width="fit"></select>
                        </div>
                        <div class="col-sm-2">
                            <select ng-model="vm.property.men3_7_2_3" class="form-control" 
                                ng-options="o as o for o in vm.data_men3_7_2" data-width="fit"></select>
                        </div>
                        <div class="col-sm-2">
                            <select ng-model="vm.property.men3_7_2_4" class="form-control" 
                                ng-options="o as o for o in vm.data_men3_7_2" data-width="fit"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾊ.建築基準法第52条第１項及び第２項の規定による建築物の容積率
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_3_1" ng-model="vm.property.men3_7_3_1"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_3_2" ng-model="vm.property.men3_7_3_2"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_3_3" ng-model="vm.property.men3_7_3_3"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_3_4" ng-model="vm.property.men3_7_3_4"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾆ.建築基準法第53条第１項の規定による建築物の建蔽率
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_4_1" ng-model="vm.property.men3_7_4_1"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_4_2" ng-model="vm.property.men3_7_4_2"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_4_3" ng-model="vm.property.men3_7_4_3"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_4_4" ng-model="vm.property.men3_7_4_4"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾎ.敷地面積の合計
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-1">
                            （1）
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_5_1" ng-model="vm.property.men3_7_5_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-1">
                            （2）
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_5_2" ng-model="vm.property.men3_7_5_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾍ.敷地に建築可能な延べ面積を敷地面積で除した数値
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_6" ng-model="vm.property.men3_7_6"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾄ.敷地に建築可能な建築面積を敷地面積で除した数値
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_7_7" ng-model="vm.property.men3_7_7"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">8.主要用途</label>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5">
                    <div class="input-group form-inline panel">
                        <span class="input-group-addon">分類</span>
                        <select class="form-control" name="men3_8_1" ng-model="vm.property.men3_8_1" 
                        ng-change="vm.selectPropertyParent(vm.property.men3_8_1)"
                        ng-options="o.name as o.name for o in vm.data_men3_8" data-width="fit"></select>

                        <span class="input-group-addon">区分</span>
                        <select class="form-control" name="men3_8_2" ng-model="vm.property.men3_8_2"
                        ng-options="o as o for o in vm.data_men3_8.child_options" data-width="fit"></select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="men3_8_3" ng-model="vm.property.men3_8_3">
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">9.工事種別</label>
                <div class="col-sm-2">
                </div> 
                <div class="col-sm-10">
                    <label class="checkbox-inline" ng-repeat="ck in vm.data_men3_9">
                        <input type="checkbox" checklist-model="vm.property.men3_9" checklist-value="ck">{{ ck }}&nbsp;
                    </label>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">10.建築面積</label><br/>
                <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11 sub_title_label">
                        ｲ.建築面積
                    </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                        </div>
                        <div class="col-sm-4">
                            (合計)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_10_1_1" ng-model="vm.property.men3_10_1_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_10_1_2" ng-model="vm.property.men3_10_1_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group panel">
                                <input type="number" class="form-control" name="men3_10_1_3" ng-model="vm.property.men3_10_1_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾛ.建蔽率
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group panel">
                                <input type="number" class="form-control" name="men3_10_2" ng-model="vm.property.men3_10_2"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">11.延べ面積</label>
                <div class="col-sm-10">
                    <div class="row row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ｲ.建築物全体
                        </div>
                        <div class="col-sm-2">
                            
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_1_1" ng-model="vm.property.men3_11_1_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_1_2" ng-model="vm.property.men3_11_1_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_1_3" ng-model="vm.property.men3_11_1_3" >
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾛ.地階の住宅又は老人ホーム、福祉ホームその他これらに類するものの部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_2_1" ng-model="vm.property.men3_11_2_1" />
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_2_2" ng-model="vm.property.men3_11_2_2" />
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_2_3" ng-model="vm.property.men3_11_2_3" />
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾊ.エレベーターの昇降路の部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_3_1" ng-model="vm.property.men3_11_3_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_3_2" ng-model="vm.property.men3_11_3_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_3_3" ng-model="vm.property.men3_11_3_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾆ.共同住宅の共用の廊下等の部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_4_1" ng-model="vm.property.men3_11_4_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_4_2" ng-model="vm.property.men3_11_4_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_4_3" ng-model="vm.property.men3_11_4_3" />
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾎ.自動車車庫等の部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_5_1" ng-model="vm.property.men3_11_5_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_5_2" ng-model="vm.property.men3_11_5_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_5_3" ng-model="vm.property.men3_11_5_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾍ.備蓄倉庫の部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_6_1" ng-model="vm.property.men3_11_6_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_6_2" ng-model="vm.property.men3_11_6_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_6_3" ng-model="vm.property.men3_11_6_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾄ.蓄電池の設置部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_7_1" ng-model="vm.property.men3_11_7_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_7_2" ng-model="vm.property.men3_11_7_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_7_3" ng-model="vm.property.men3_11_7_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾁ.自家発電設備の設置部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_8_1" ng-model="vm.property.men3_11_8_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_8_2" ng-model="vm.property.men3_11_8_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_8_3" ng-model="vm.property.men3_11_8_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾘ.貯水槽の設置部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_9_1" ng-model="vm.property.men3_11_9_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_9_2" ng-model="vm.property.men3_11_9_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_9_3" ng-model="vm.property.men3_11_9_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾇ.住宅の部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_10_1" ng-model="vm.property.men3_11_10_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_10_2" ng-model="vm.property.men3_11_10_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_10_3" ng-model="vm.property.men3_11_10_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row txt_menseki">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾙ.老人ホーム、福祉ホームその他これらに類するものの部分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                            (申請部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_11_1" ng-model="vm.property.men3_11_11_1"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            (申請以外の部分)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_11_2" ng-model="vm.property.men3_11_11_2"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" ng-blur="vm.goukei()" name="men3_11_11_3" ng-model="vm.property.men3_11_11_3"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ｦ.延べ面積
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number"class="form-control" ng-blur="vm.goukei()" name="men3_11_12" ng-model="vm.property.men3_11_12"/>
                                <span class="input-group-addon add-on flat">m<sup>2</sup></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾜ.容積率
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-4">
                            (合計)
                            <div class="input-group form-inline panel">
                                <input type="number"class="form-control" ng-blur="vm.goukei()" name="men3_11_13" ng-model="vm.property.men3_11_13"/>
                                <span class="input-group-addon add-on flat">%</span> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">12.建築物の数</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ｲ.申請に係る建築物の数
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="men3_12_1" ng-model="vm.property.men3_12_1"/>
                        </div>
                        <div class="col-sm-12 space">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾛ.同一敷地内の他の建築物の数
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="men3_12_2" ng-model="vm.property.men3_12_2"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">13.建築物の高さ等</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ｲ.最高の高さ
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            (申請に係る建築物)<br/>
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_13_1_1" ng-model="vm.property.men3_13_1_1"/>
                                <span class="input-group-addon add-on flat">m</span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (他の建築物)<br/>
                            <div class="input-group form-inline panel">
                                <input type="number" class="form-control" name="men3_13_1_2" ng-model="vm.property.men3_13_1_2"/>
                                <span class="input-group-addon add-on flat">m</span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾛ.階　　数
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            (申請に係る建築物)<br/>
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon">地上</span>
                                <input type="number" class="form-control" name="men3_13_2_1" ng-model="vm.property.men3_13_2_1"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (他の建築物)<br/>
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon">地上</span>
                                <input type="number" class="form-control" name="men3_13_2_2" ng-model="vm.property.men3_13_2_2"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            (申請に係る建築物)<br/>
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon">地下</span>
                                <input type="number" class="form-control" name="men3_13_2_3" ng-model="vm.property.men3_13_2_3"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            (他の建築物)<br/>
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon">地下</span>
                                <input type="number" class="form-control" name="men3_13_2_4" ng-model="vm.property.men3_13_2_4"/>
                                <span class="input-group-addon add-on flat">階</span> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾊ.構　　造
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" name="men3_13_3_1" ng-model="vm.property.men3_13_3_1">
                                <option>鉄骨鉄筋コンクリート造</option>
                                <option>鉄筋コンクリート造</option>
                                <option>鉄骨造</option>
                                <option>補強コンクリートブロック造</option>
                                <option>組積造</option>
                                <option>木造</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group form-inline panel">
                                <span class="input-group-addon">一部</span>
                                <select class="form-control" name="men3_13_3_2" ng-model="vm.property.men3_13_3_2">
                                    <option>鉄骨鉄筋コンクリート造</option>
                                    <option>鉄筋コンクリート造</option>
                                    <option>鉄骨造</option>
                                    <option>補強コンクリートブロック造</option>
                                    <option>組積造</option>
                                    <option>木造</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾆ.建築基準法第56条第７項の規定による特例の適用の有無
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <label class="checkbox-inline">
                                <input type="radio" name="men3_13_4" ng-model="vm.property.men3_13_4" value="有"> 有
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="men3_13_4" ng-model="vm.property.men3_13_4" value="無"> 無
                            </label>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11 sub_title_label">
                            ﾎ.適用があるときは、特例の区分
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <label class="col-sm-12" ng-repeat="ck in vm.data_men3_13_5">
                                <input type="checkbox" checklist-model="vm.property.men3_13_5" checklist-value="ck">
                                {{ ck }}&nbsp;
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtTodo" class="col-sm-12 col-form-label title_label">14.許可・認定等</label>
                <div class="col-sm-12">
                    <select class="form-control" data-width="fit"  ng-change="vm.changeSelect3_14()" name="men3_14_1" ng-model="vm.property.men3_14_1" ng-options="p as p for p in vm.data_men3_14">
                    </select>
                    <br>
                    <textarea class="form-control" rows="3" name="men3_14" ng-model="vm.property.men3_14"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end 第三面 -->