<div id="content2" class="w3-container" ng-hide="vm.isVisiblePropertiesRule" style="padding-top:50px;">
    <div id="myTop" class="w3-container w3-top w3-theme w3-large">
        <span id="myIntro" class="w3-hide">物件データ管理</span>
    </div>
    <div>
        <strong style="font-size:20px;">物件データ管理</strong><br/>
    </div>
    <button type="submit" ng-click="vm.save(vm.form.importForm.$valid)" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-floppy-save"></span> インポート</a>
    </button>
    <a type="button" data-ui-sref="admin.properties.list" class="mg15r btn btn-warning pull-right">
        キャンセル
    </a>
    <div style="font-weight:bold; padding-top:10px;">
        <a data-ui-sref="admin.properties.list">一覧 </a> > NICEインポート
    </div>
    <hr>
    <!-- #コントロールボタン -->
    <!-- 入力Form -->
    <form name="vm.form.importForm" ng-submit="vm.save(vm.form.importForm.$valid)" autocomplete="on" novalidate>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="bg-primary"></th>
                    <th class="bg-primary">＃</th>
                    <th class="bg-primary">申請ID</th>
                    <th class="bg-primary">建築場所都道府県</th>
                    <th class="bg-primary">建築場所</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in vm.listproperties">
                    <td>
                        {{item.application_id }}
                        <input type='checkbox' checklist-model='vm.property.application_id' 
                        checklist-value="item.application_id"/></td>
                    <td style="text-align:left;" data-ng-bind="item.col_005"></td>
                    <td style="text-align:left;" data-ng-bind="item.col_067"></td>
                    <td style="text-align:left;" data-ng-bind="item.col_070"></td>
                    <td style="text-align:left;" data-ng-bind="item.col_107"></td>
                </tr>
                <tr data-ng-if="vm.listproperties.$resolved && !vm.listproperties.length">
                    <td colspan="5">No properties yet, why don't you <a data-ui-sref="admin.properties.create">create one</a>?</td>
                </tr>
            </tbody>
        </table>
    </form>
    <div style="width:100%; text-align:center;">
        <hr>
        <ul uib-pagination
            total-items="vm.totalItems"
            items-per-page="vm.pageSize"
            previous-text="前"
            force-ellipses="true"
            next-text="次"
            max-size=10
            ng-model="vm.currentPage" ng-click="vm.pageChanged()"></ul>
    </div>
    <!-- #入力Form -->
</div>