<div id="content1" class="w3-container" style="padding-top:50px;">
  <a type="button" class="btn btn-success pull-right" id="btnAdd" data-ui-sref="admin.properties.create">
      <span class="glyphicon glyphicon-plus"></span> 登録
  </a>
  <div id="myTop" class="w3-container w3-top w3-theme w3-large">
  </div>
  <div>
      <strong style="font-size:20px;">物件データ管理</strong><br/>
  </div>
  <div style="font-weight:bold; padding-top:10px;">一覧</div>

    <hr>
    <form class="form-inline" name="vm.form.importSearchForm" ng-submit="vm.search(vm.form.importSearchForm.$valid)" autocomplete="on" novalidate>
        <div class="form-group">
            <label for="keyword">キーワード</label>
            <input type="text" class="form-control" id="keyword" ng-model="vm.keyword" placeholder="キーワード" autofocus>
        </div>
        <button type="submit" class="btn btn-info">
            <span ng-if="!vm.busyLoad" class="glyphicon glyphicon-search"></span>
            <span ng-if="vm.busyLoad" class="fa fa-spinner fa-spin"></span>
            探索</button>

        <a class="btn btn-info pull-right" data-ui-sref="admin.properties.import"><i class="glyphicon glyphicon-allow-down"></i> インポート選択</a>
        <hr>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="bg-primary">＃</th>
                    <th class="bg-primary">受付日</th>
                    <th class="bg-primary">事前受付番号</th>
                    <th class="bg-primary">引受日</th>
                    <th class="bg-primary">確認受付番号</th>
                    <th class="bg-primary">物件名</th>
                    <th class="bg-primary">建築場所都道府県</th>
                    <th class="bg-primary">建築場所</th>
                    <th class="bg-primary">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="property in vm.properties">
                    <td style="text-align:center;">{{ ((vm.currentPage - 1) * vm.pageSize) + $index+1 }}</td>
                    <td style="text-align:left;" data-ng-bind="property.men16 | date:'yyyy/MM/dd'"></td>
                    <td style="text-align:left;" data-ng-bind="property.men14"></td>
                    <td style="text-align:left;" data-ng-bind="property.men10 | date:'yyyy/MM/dd'"></td>
                    <td style="text-align:left;" data-ng-bind="property.men17"></td>
                    <td style="text-align:left;" data-ng-bind="property.men15"></td>
                    <td style="text-align:left;" data-ng-bind="property.men3_1_1"></td>
                    <td style="text-align:left;" data-ng-bind="property.men3_1_2"></td>
                    <td style="text-align:center;">
                        <button class="btn btn-info btn-sm" data-ui-sref="admin.properties.edit({propertyId: property._id})">
                        <i class="glyphicon glyphicon-pencil"></i> 編集</button>
                        <button class="btn btn-danger btn-sm" ng-click="vm.remove(property)">
                        <i class="glyphicon glyphicon-trash"></i> 削除</button>
                    </td>
                </tr>
                <tr data-ng-if="vm.properties.$resolved && !vm.properties.length">
                    <td colspan="5">No properties yet, why don't you <a data-ui-sref="admin.properties.create">create one</a>?</td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <div style="width:100%; text-align:center;">
        <hr>
        <ul uib-pagination
            total-items="vm.totalItems"
            items-per-page="vm.pageSize"
            previous-text="前"
            next-text="次"
            ng-model="vm.currentPage" ng-click="vm.pageChanged()"></ul>
    </div>
</div>
