<div id="myTop" class="w3-container w3-top w3-theme w3-large">
    <span id="myIntro" class="w3-hide">法令管理</span>
</div>
<div>
    <strong style="font-size:20px;">法令管理</strong><br/>
</div>
<button type="button" ng-click="vm.saveRules(vm.form.lawRulesForm.$valid)" class="btn btn-primary pull-right" id="btn_save_add">
    <span class="glyphicon glyphicon-floppy-save"></span> 保存</a>
</button>
<a type="button" ng-click="vm.hideLawsRule()" class="mg15r btn btn-warning pull-right">
    キャンセル
</a>
<div style="font-weight:bold; padding-top:10px;">
    <a data-ui-sref="admin.laws.list">一覧 </a> >
    <a ng-click="vm.hideLawsRule()">法令登録 </a> > 
    <span ng-if="vm.formLawsRule.info.title === '法令'">法令 条件割当</span>
    <span ng-if="vm.formLawsRule.info.title !== '法令'">条例 （{{ vm.formLawsRule.info.title }}）条件割当</span>
</div>
<hr>
<!-- #コントロールボタン -->
<!-- 入力Form -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading" ng-if="vm.formLawsRule.info.title === '法令'">法令 条件割当</div>
            <div class="panel-heading" ng-if="vm.formLawsRule.info.title !== '法令'">条例 （{{ vm.formLawsRule.info.title }}）条件割当</div>
            <div class="panel-body">
                <div>
                    <table id="law_sort_table" class="editableTable table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="bg-primary" style="width:50px;">#</th>
                                <th class="bg-primary" style="width:50px;">項目1</th>
                                <th class="bg-primary" style="width:50px;">項目2</th>
                                <th class="bg-primary" style="width:200px;">法文</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;">{{ vm.formLawsRule.info.master_law.id }}</td>
                                <td ng-if="!vm.formLawsRule.info.master_law.item2" colspan="2">{{ vm.formLawsRule.info.master_law.item1 }}</td>
                                <td ng-if="vm.formLawsRule.info.master_law.item2">{{ vm.formLawsRule.info.master_law.item1 }}</td>
                                <td ng-if="vm.formLawsRule.info.master_law.item2">{{ vm.formLawsRule.info.master_law.item2 }}</td>
                                <td style="text-align:left;">{{ vm.formLawsRule.info.master_law.legal_text }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a type="button" class="btn btn-success pull-left" id="rule_add_btn" ng-click="vm.pushLawsRule()">
                       <span class="glyphicon glyphicon-plus"></span> 条件追加</a>
                    </a>
                </div>
                <br/><br/>
                <form name="vm.form.lawRulesForm" ng-submit="vm.saveRules(vm.form.lawRulesForm.$valid)" novalidate></form>
                    <div class="rule_fields" data-ng-repeat="rule in vm.formLawsRule.rules">
                        <div class="rule_field_1">
                            <div class="panel-body" style="border:1px solid #999; margin-bottom:10px;">
                                <div class="row">
                                    <div class="col-sm-12 mg10b">
                                        <span class="pull-left">条件グループ{{$index + 1}}</span>
                                        <button type="button" ng-click="vm.removeLawsRule(rule)" class=" btn btn-danger btn-sm pull-right"><i class="glyphicon glyphicon-trash"></i> 削除</button>
                                        <button type="button" ng-click="vm.copyLawsRule(rule)" class="mg15r btn btn-warning btn-sm pull-right"><i class="glyphicon glyphicon-copyright-mark"></i> コピー</button>
                                    </div> 
                                    <div class="col-sm-12">
                                        <table id="law_sort_table" class="editableTable table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="bg-primary">条件名称</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="form-control" ng-model="rule.rule_name" placeholder="条件{{$index + 1}}名称" title="条件{{$index + 1}}名称" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" ng-click="vm.pushLawsRuleField(rule)" class="btn btn-success pull-left">
                                            <span class="glyphicon glyphicon-plus"></span> 物件データ項目 追加
                                        </button>
                                        <br/><br/>
                                        <div class="input_select_field_1">  
                                            <style>
                                                .td-koumoku, .td-daiumoku {
                                                    width: 20%;
                                                }
                                            </style>
                                            <table id="law_sort_table" class="editableTable table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="bg-primary" style="width:50px;">#</th>
                                                        <th class="bg-primary" >物件項目</th>
                                                        <th class="bg-primary td-daiumoku" >大項目</th>
                                                        <th class="bg-primary td-koumoku" >小項目</th>
                                                        <th class="bg-primary" >値</th>
                                                        <th class="bg-primary" >操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="rule_field in rule.fields">
                                                        <td style="text-align:center;">{{$index + 1}}</td>
                                                        <td>
                                                            <select ng-model="rule_field.bukken" 
                                                            class="form-control" ng-change="vm.selectBukken(rule_field)" 
                                                            ng-options="p.bukken as p.bukken_name for p in vm.bukken" data-width="fit"></select>
                                                        </td>
                                                        <td>
                                                            <select ng-show="rule_field.bukken" 
                                                            ng-model="rule_field.deuta1" 
                                                            ng-change="vm.selectDai(rule_field)" 
                                                            class="form-control" 
                                                            ng-options="p.daikoumoku as p.daikoumoku_name for p in rule_field.optionDai" data-width="fit"></select>
                                                        </td>
                                                        <td>
                                                            <select ng-show="rule_field.deuta1 && rule_field.optionKo" 
                                                            ng-model="rule_field.deuta2" 
                                                            ng-change="vm.selectKo(rule_field)" 
                                                            class="form-control"
                                                            ng-options="p.kokoumoku as p.kokoumoku_name for p in rule_field.optionKo" data-width="fit"></select>
                                                        </td>
                                                        <td>
                                                            <div class="properties" data-ng-repeat="property in rule_field.properties" >
                                                                <div ng-switch on="property.type">
                                                                        {{ property.type }}
                                                                    <input ng-model="property.type" type="hidden"/>
                                                                    <div ng-switch-when="1">
                                                                        <div ng-class="vm.classProperties(rule_field.properties)">
                                                                            <div class="input-group form-inline panel">
                                                                                <span ng-if="property.html_label_s" class="input-group-addon">
                                                                                    <span ng-bind-html="property.html_label_s"></span>
                                                                                </span>
                                                                                <input ng-model="property.value" class="form-control" type="text" maxlength="200"/>
                                                                                <span ng-if="property.html_label_e" class="input-group-addon add-on flat">
                                                                                    <span ng-bind-html="property.html_label_e"></span>
                                                                                </span> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-switch-when="2">
                                                                        
                                                                        <div ng-class="vm.classProperties(rule_field.properties)" ng-if="property.parent_flag === 0">
                                                                            <div class="input-group form-inline panel">
                                                                                <select ng-model="property.value" class="form-control" 
                                                                                ng-options="o as o for o in property.options" data-width="fit"></select>
                                                                            </div>
                                                                        </div>
                                                                        <div ng-class="vm.classProperties(rule_field.properties)" ng-if="property.parent_flag === 2">
                                                                            <div class="input-group form-inline panel">
                                                                                <select ng-model="property.value" class="form-control" 
                                                                                ng-change="vm.selectPropertyParent(property.value, rule_field.properties)" 
                                                                                ng-options="o.name as o.name for o in property.options" data-width="fit"></select>
                                                                            </div>
                                                                        </div>
                                                                        <div ng-class="vm.classProperties(rule_field.properties)" ng-if="property.parent_flag === 3">
                                                                            <div class="input-group form-inline panel" ng-show="property.child_options">
                                                                                <select ng-model="property.value" class="form-control" 
                                                                                ng-options="o as o for o in property.child_options" data-width="fit"></select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-switch-when="3">
                                                                        <div ng-class="vm.classProperties(rule_field.properties)">
                                                                            <div class="input-group form-inline panel" style="margin: 0 auto;">
                                                                                <button type="button" class="btn btn-basic" ng-click="vm.openModal(property)">条件設定</button>
                                                                            </div>
                                                                            
                                                                            <div style="margin-top: 10px"></div>
                                                                            <ul type="circle" ng-if="property.value.length > 0 && property.parent_flag !== 1" ng-repeat="ck in property.value">
                                                                                <li ng-if="ck">{{ ck }}</li>
                                                                            </ul>
                                                                            <ul type="circle" ng-if="property.value.length > 0 && property.parent_flag === 1" ng-repeat="ck in property.options">
                                                                                <li ng-if="checkContains(property.value, ck.name)" >{{ ck.name }}</li>
                                                                                <ul type="disc" ng-if="ck.child" ng-repeat="ckc in ck.child">
                                                                                    <li ng-if="checkContains(property.value, ckc.name)" >{{ ckc.name }}&nbsp;</li>
                                                                                </ul>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-switch-when="4">
                                                                        
                                                                        <div class="col-sm-6">
                                                                            <div class="input-group form-inline panel">
                                                                                <input ng-model="property.value1" class="form-control" type="number" maxlength="200"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="input-group form-inline panel">
                                                                                <select ng-model="property.compare1" class="form-control" data-width="fit" ng-options="p.id as p.name for p in vm.typeValidation">
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="input-group form-inline panel">
                                                                                <input ng-model="property.value2" class="form-control" type="number" maxlength="200"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="input-group form-inline panel">
                                                                                <select ng-model="property.compare2" class="form-control" data-width="fit" ng-options="p.id as p.name for p in vm.typeValidation">
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-switch-when="5">
                                                                        <div class="col-sm-12">
                                                                            <div class="input-group form-inline panel">
                                                                                <textarea ng-model="property.value" class="form-control" maxlength="200"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="text-align:center;">
                                                            
                                                            <button type="button" ng-click="vm.removeLawsRuleField(rule, rule_field)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i> 削除</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #入力Form -->
<!-- modal template -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header-confirm">
        <h4 class="modal-title-confirm">条件設定</h4>
    </div>
    <div style="margin-top:10px; margin-left:20px; font-weight:bold;">
        <span>物件データシート ：{{$ctrl.property.bukken_name}}</span><br/>
        <span>大項目　　　　　  ：{{$ctrl.property.daikoumoku_name}}</span><br/>
        <span ng-if="$ctrl.property.kokoumoku">小項目　　　　　  ：{{$ctrl.property.kokoumoku_name}}</span><br/>
    </div>
    <div class="modal-body text-left" id="modal-body">
        <div ng-if="$ctrl.property.parent_flag === 0" class="row" ng-repeat="ck in $ctrl.property.options">
            <label class="col-sm-12" style="margin-left:20px;">
                <input type="checkbox" checklist-model="$ctrl.property.value" checklist-value="ck">
                {{ ck }}&nbsp;
            </label>
            <hr>
        </div>
        <div ng-if="$ctrl.property.parent_flag === 1" class="row" ng-repeat="ck in $ctrl.property.options">
            <label class="col-sm-12" >
                <input type="checkbox" ng-change="$ctrl.checkboxSelectParent(ck, checked)" style="margin-left:20px;" checklist-model="$ctrl.property.value" checklist-value="ck.name">
                {{ ck.name }}&nbsp;
            </label>
            <div ng-if="ck.child" class="row" ng-repeat="ckc in ck.child">
                <label class="col-sm-12">
                    <input type="checkbox" ng-change="$ctrl.checkboxSelectChild(ck, ckc, checked)" style="margin-left:70px;" checklist-model="$ctrl.property.value" checklist-value="ckc.name">
                    {{ ckc.name }}&nbsp;
                </label>
            </div>
            <div class="col-sm-12">
                <hr/>
            </div>
        </div>
        <div ng-if="$ctrl.property.parent_flag === 3" class="row" ng-repeat="ck in $ctrl.property.child_options">
            <label class="col-sm-12" >
                <input type="checkbox" style="margin-left:20px;" checklist-model="$ctrl.property.value" checklist-value="ck">
                {{ ck }}&nbsp;
            </label>
            <div class="col-sm-12">
                <hr/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">閉じる</button>
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok($ctrl.property.value)">決定</button>
    </div>
</script>
<!-- #modal template -->
