<div id="content2" class="w3-container" ng-hide="vm.isVisibleLawsRule" style="padding-top:50px;">
    <div id="myTop" class="w3-container w3-top w3-theme w3-large">
        <span id="myIntro" class="w3-hide">法令管理</span>
    </div>
    <div>
        <strong style="font-size:20px;">法令管理</strong><br/>
    </div>
    <button type="submit" ng-click="vm.save(vm.form.lawForm.$valid)" class="btn btn-primary pull-right" id="btn_save_add">
        <span class="glyphicon glyphicon-floppy-save"></span> 保存</a>
    </button>
    <a type="button" data-ui-sref="admin.laws.list" class="mg15r btn btn-warning pull-right">
        キャンセル
    </a>
    <div style="font-weight:bold; padding-top:10px;">
        <a data-ui-sref="admin.laws.list">一覧 </a> > 法令登録
    </div>
    <hr>
    <!-- #コントロールボタン -->
    <!-- 入力Form --> 
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">法令登録</div>
                <div class="panel-body">
                    <form name="vm.form.lawForm" ng-submit="vm.save(vm.form.lawForm.$valid)" novalidate>
                        <div class="row" ng-if="vm.submitted && vm.form.lawForm.$error">
                            <div class="col-sm-12" style="margin-bottom: 15px">
                                <lu  class="alert-danger">
                                    <li ng-if="vm.submitted && vm.form.lawForm.years.$error.required">年度が選択されていません。</li>
                                    <li ng-if="vm.submitted && vm.form.lawForm.name.$error.required">名称が入力されていません。</li>
                                </lu>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group form-inline panel">
                                    <span class="input-group-addon mw120">年度</span>
                                    <select class="form-control" name="years" ng-model="vm.law.year" ng-options="p.id as p.name for p in vm.years" required></select>
                                    <span class="input-group-addon mw120">名称</span>
                                    <input ng-model="vm.law.name" name="name" type="text" class="form-control" placeholder="名称" title="名称" required/>        
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- <div ng-include="'/modules/laws/client/views/admin/form-law-template-field.client.view.html'"></div> -->
                    <uib-accordion ng-show="vm.law._id" close-others="false" class="">
                        <uib-accordion-group is-open="status.open0">
                            <uib-accordion-heading>
                                <a ng-click="vm.openCollapseHourei()" class="text-muted">
                                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open0, 'glyphicon-chevron-right': !status.open0}"></i>
                                    法令 ({{vm.law.law_details.law_details.length}})
                                </a>
                            </uib-accordion-heading>
                            <button type="button" ng-click="vm.download(true, '法令')" class="btn btn-primary btn-sm pull-right" style="margin-bottom:20px;"><i class="glyphicon glyphicon-save"></i> エクスポート</button>
                            <div id="detail_hourei">
                                <style>
                                    .bg-primary { background-color:#286090; color:#fff}
                                    table.table.table-bordered > tr > td { border: 1px solid #d8d4d4 }
                                </style>
                                <h3 class="used-excel-export">法令</h3>
                                <table border="1" class="table table-striped table-bordered table-hover" ng-show="vm.tmpLawDetails">
                                    <thead>
                                        <tr>
                                            <th class="bg-primary" style="width:50px;">#</th>
                                            <th class="bg-primary" style="width:100px;">項目1</th>
                                            <th class="bg-primary" style="width:100px">項目2</th>
                                            <th class="bg-primary" style="width:200px">法文</th>
                                            <th class="bg-primary ignore-excel-export" style="width:150px;">条件</th>
                                            <th class="bg-primary used-excel-export" style="background-color:#286090; color:#fff" ng-repeat="i in getNumber(vm.maxColumnRules)">条件グループ{{i}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="lawData in vm.tmpLawDetails">
                                            <td style="text-align:center;">{{ lawData.master_law.id }}</td>
                                            <td ng-if="lawData.master_law.rowspan > 0" rowspan="{{ lawData.master_law.rowspan }}">{{ lawData.master_law.item1 }}</td>
                                            <td ng-if="lawData.master_law.rowspan > 0">{{ lawData.master_law.item2 }}</td>
                                            <td ng-if="lawData.master_law.rowspan === 0 && !lawData.master_law.item2" colspan="2">{{ lawData.master_law.item1 }}</td>
                                            <td ng-if="lawData.master_law.rowspan === 0 && lawData.master_law.item2">{{ lawData.master_law.item1 }}</td>
                                            <td ng-if="lawData.master_law.rowspan === 0 && lawData.master_law.item2">{{ lawData.master_law.item2 }}</td>
                                            <td ng-if="lawData.master_law.rowspan < 0">{{ lawData.master_law.item2 }}</td>
                                            <td>{{ lawData.master_law.legal_text }}</td>
                                            <td style="text-align:center;width:150px;" class="ignore-excel-export">
                                                <button type="button" ng-class="vm.classButtonLawsRule(lawData.law_rules)" class="btn btn-sm" id="rule_btn" ng-click="vm.showLawsRule(lawData, '法令')"> 条件割当</button>
                                            </td>
                                            <td class="used-excel-export" ng-repeat="lawRule in lawData.law_rules">
                                                <span ng-repeat="field in lawRule.fields">
                                                    <span ng-if="field.bukken_name">{{field.bukken_name}}</span>
                                                    <span ng-if="field.daikoumoku_name">,{{field.daikoumoku_name}}</span>
                                                    <span ng-if="field.kokoumoku_name">,{{field.kokoumoku_name}}</span>
                                                    <span ng-repeat="property in field.properties">
                                                        <span ng-if="property.value">,{{property.value}}</span>
                                                        <span ng-if="property.value1">,{{property.value1}}</span>
                                                        <span ng-if="property.compare1">,{{ getValidationByFind(property.compare1).name }}</span>
                                                        <span ng-if="property.value2">,{{property.value2}}</span>
                                                        <span ng-if="property.compare2">,{{ getValidationByFind(property.compare2).name }}</span>
                                                    </span><br ng-if="!$last" style="mso-data-placement:same-cell;"/>
                                                </span>
                                            </td>
                                            <td class="used-excel-export" ng-if="(vm.maxColumnRules - lawData.law_rules.length) > 0" ng-repeat="i in getNumber(vm.maxColumnRules - lawData.law_rules.length)"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-accordion-group>
                        <!-- todoufukens -->
                        <uib-accordion-group ng-repeat="(key, regulation) in vm.law.todoufuken_regulations.todoufuken_regulations" is-open="accordionArray[$index]">
                            <uib-accordion-heading>
                                <a ng-click="vm.openCollapse(regulation._id)" class="text-muted">
                                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': accordionArray[$index], 'glyphicon-chevron-right': !accordionArray[$index]}"></i>
                                    {{regulation.todoufuken}} ({{regulation.law_regulations.length}})
                                    <div ng-show="regulation.busy"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>
                                </a>
                            </uib-accordion-heading>
                            <button type="button" ng-click="vm.download(false, regulation.todoufuken, regulation._id)" class="btn btn-primary btn-sm pull-right" style="margin-bottom:20px;"><i class="glyphicon glyphicon-save"></i> エクスポート</button>
                            <div id="regulation_{{ regulation._id }}">
                                    <style>
                                    .bg-primary { background-color:#286090; color:#fff}
                                    table.table.table-bordered > tr > td { border: 1px solid #d8d4d4 }
                                </style>
                                <h3 class="used-excel-export">{{ regulation.todoufuken }}</h3>
                                <table border="1" class="table table-striped table-bordered table-hover" ng-show="vm.tmpLawRegulations[regulation._id]">
                                    <thead>
                                        <tr>
                                            <th class="bg-primary" style="width:50px;">#</th>
                                            <th class="bg-primary" style="width:100px;">項目1</th>
                                            <th class="bg-primary" style="width:100px">項目2</th>
                                            <th class="bg-primary" style="width:200px">法文</th>
                                            <th class="bg-primary ignore-excel-export" style="width:150px;">条件</th>
                                            <th class="bg-primary used-excel-export" style="background-color:#286090; color:#fff" ng-repeat="i in getNumber(vm.maxColumnRules)">条件グループ{{i}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="lawData in vm.tmpLawRegulations[regulation._id]">
                                            <td style="text-align:center;">{{ lawData.master_law.id }}</td>
                                            <td ng-if="lawData.master_law.rowspan > 0" rowspan="{{ lawData.master_law.rowspan }}">{{ lawData.master_law.item1 }}</td>
                                            <td ng-if="lawData.master_law.rowspan > 0">{{ lawData.master_law.item2 }}</td>
                                            <td ng-if="lawData.master_law.rowspan === 0 && !lawData.master_law.item2" colspan="2">{{ lawData.master_law.item1 }}</td>
                                            <td ng-if="lawData.master_law.rowspan === 0 && lawData.master_law.item2">{{ lawData.master_law.item1 }}</td>
                                            <td ng-if="lawData.master_law.rowspan === 0 && lawData.master_law.item2">{{ lawData.master_law.item2 }}</td>
                                            <td ng-if="lawData.master_law.rowspan < 0">{{ lawData.master_law.item2 }}</td>
                                            <td>{{ lawData.master_law.legal_text }}</td>
                                            <td style="text-align:center;width:150px;" class="ignore-excel-export">
                                                <button type="button" ng-class="vm.classButtonLawsRule(lawData.law_rules)" class="btn btn-sm" id="rule_btn"
                                                ng-click="vm.showLawsRule(lawData, regulation.todoufuken)"> 条件割当</button>
                                            </td>
                                            <td class="used-excel-export" ng-repeat="lawRule in lawData.law_rules">
                                                <span ng-repeat="field in lawRule.fields">
                                                    <span ng-if="field.bukken_name">{{field.bukken_name}}</span>
                                                    <span ng-if="field.daikoumoku_name">,{{field.daikoumoku_name}}</span>
                                                    <span ng-if="field.kokoumoku_name">,{{field.kokoumoku_name}}</span>
                                                    <span ng-repeat="property in field.properties">
                                                        <span ng-if="property.value">,{{property.value}}</span>
                                                        <span ng-if="property.value1">,{{property.value1}}</span>
                                                        <span ng-if="property.compare1">,{{ getValidationByFind(property.compare1).name }}</span>
                                                        <span ng-if="property.value2">,{{property.value2}}</span>
                                                        <span ng-if="property.compare2">,{{ getValidationByFind(property.compare2).name }}</span>
                                                    </span><br ng-if="!$last" style="mso-data-placement:same-cell;"/>
                                                </span>
                                            </td>
                                            <td class="used-excel-export" ng-if="(vm.maxColumnRules - lawData.law_rules.length) > 0" ng-repeat="i in getNumber(vm.maxColumnRules - lawData.law_rules.length)"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
    <!-- #入力Form -->
</div>
<div id="content3" ng-include="'/modules/laws/client/views/admin/form-law-rule.client.view.html'" class="w3-container" ng-show="vm.isVisibleLawsRule" style="padding-top:50px;"></div>
<script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>
<div ng-show="vm.busy" class="show-busy"></div>
<div ng-include="'/modules/laws/client/views/admin/modal-confirm.client.view.html'"></div>
