<section class="row">
  <div class="col-md-12">
    <form name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword">現在のパスワード</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="vm.passwordDetails.currentPassword" placeholder="現在のパスワード" required autofocus>
          <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">*</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">新しいパスワード</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="新しいパスワード" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">*</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">新しいパスワードの確認</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="新しいパスワードの確認" password-verify="vm.passwordDetails.newPassword" required>
          <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">*</p>
            <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</p>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.passwordForm.newPassword.$error.required">
          <label>パスワード要件</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
