<section class="row">
  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">ユーザー名</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="ユーザー名" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">*</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
