<div id="content1" class="w3-container" style="padding-top:10px;">
    <div id="myTop" class="w3-container w3-top w3-theme w3-large">
    </div>
    <div>
        <strong style="font-size:20px;">ユーザ情報設定</strong><br/>
    </div>

    <hr>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">プロファイル編集</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">パスワード変更</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</div>
