<div id="loginbox" style="margin-top:15%;margin-bottom:20%" class=" col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">ログイン</div>
        </div>
        <div style="padding:30px" class="panel-body">
            <div class="row">
                <div id="err_msg" class="err_msg alert alert-danger col-sm-12 hidden">
                    <strong>エラー:</strong>
                    <span id="err_msg_desc">エラーメッセージ</span>
                </div>
                <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
                  <span ng-bind="vm.error"></span>
                </uib-alert>
            </div>
            <div class="row">
                <div style="margin-bottom:25px" class="input-group" show-errors>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="usernameOrEmail" name="usernameOrEmail" type="text" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="ユーザーID又はメール">
                    <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">ユーザーID又はメールを入力してください。</p>
                    </div>
                </div>
                <div style="margin-bottom:25px" class="input-group" show-errors>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" name="password" type="password" class="form-control" ng-model="vm.credentials.password" placeholder="パスワード">
                    <div ng-messages="vm.userForm.password.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">パスワードを入力してください。</p>
                    </div>
                </div>

                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <button type="submit" class="btn btn-success pull-right">ログイン</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>