.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.bg-primary {
  background-color: #506e9b;
}

.animate-bottom {
  animation-name: animatebottom;
  animation-duration: 1s;
  position: relative;
  -webkit-animation-name: animatebottom;
  -moz-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

.show-busy {
  animation: spin 1s linear infinite;
  border: 6px solid #eee;
  border-radius: 50%;
  border-top: 6px solid rgb(52, 152, 219);
  left: 70%;
  height: 30px;
  margin: -35px 0 0 -35px;
  position: absolute;
  top: 20%;
  width: 30px;
  z-index: 1;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.modal-open {
  overflow: unset;
}

.w3-top {
  z-index: 9;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  padding: 0;
  width: 550px;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: top;
  text-align: left;
}

.table > tbody > tr > td > span.checked.ng-scope {
  display: none;
}